<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>

    <style>
      p{ font-size: 20px; } .item1{ color: red; } .item2{ color: blue; }
    </style>
  </head>

  <body>
    <div>
      <p class="item1">Email: {{email}}. </p>
      <p class="item2">This is an email related to development, when subscribed
        by the user, at that time he will receive this email.
      </p>
    </div>

  </body>

</html>